<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CS372 Grader</title>

    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

<div class="center">
    <h1>Fall 2022 CS372 Code Grader</h1>

    <div class="space"></div>

    <h3>How to use:</h3>

    <div class="left">
        <ol>
            <li>Write the assignment number.</li>
            <li>Choose your .zip file.</li>
            <li>Click on Submit.</li>
            <li>Be patient to see the results.</li>
        </ol>
    </div>

    <div class="space"></div>

    <form method="POST" action="" enctype="multipart/form-data" accept=".zip">
        <div class="form_row">Assignment Number: <input type="number" name="assign_number"></div>
        <div class="form_row"><input type="file" name="code_file" enctype="multipart/form-data"></div>
        <div class="form_row"><input type="submit" name="submit_form" enctype="multipart/form-data"></div>
    </form>
</div>


<div class="spacexl"></div>


<footer class="center">
    <div>© 2022 Copyright: <a class="text-light" href="http://omidjafari.com/" target="_blank">omidjafari.com</a></div>
</footer>

</body>
</html>